.conditions-selector-card {
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 12rem;
  min-width: 0;
  max-height: 220px;
}

.header-text {
  color: var(--black);
  font-size: 1.2rem;
  margin: 0;
}

.conditions-selector-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  flex-grow: 1;
}

.conditions-selector-flex::-webkit-scrollbar{
  height: 8px;
  width: 4px;
  background: transparent;
  border-radius: 10px;
}
.conditions-selector-flex::-webkit-scrollbar-thumb:horizontal{
  background: var(--transparent-black);
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .conditions-selector-card {
    width: auto;
  }
}
