.conditions-selector-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100px;
  background-color: #f2f2f27b;
  padding: 15px;
}

.condition-selector-label {
  margin: 0;
}
