.activity-parent {
  display: flex;
  background-color: var(--tranparent-white);
  width: 6rem;
  height: 3rem;
  flex-shrink: 0;
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: var(--tranparent-black) 0px 0px 0px 1px;
}
