.current-weather-card {
  
}

.current-weather-parent {
  color: var(--text-dark);
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.current-weather-location {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 3rem;
}

.current-weather-data {
  font-size: 1.5rem;
}

.current-weather-icon {
  width: 6rem;
}
