.current-weather-card {
  min-height: 12rem;
  flex: 1;
}

.current-weather-parent {
  flex-grow: 1;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.current-weather-location {
  margin: 0;
  font-size: calc(3vw + 16px);
  font-weight: normal;
}

.current-weather-data {
  font-size: calc(1.5vw + 6px);
}

.current-weather-icon {
  width: 64px;
}
