.hour-forecast-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--tranparent-white);
  width: 11.5rem;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  border-left: 1px solid #00000010;
}

.hour-forecast-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  border-bottom: 1px solid #00000010;
}

.hour-forecast-mini {
  display: flex;
  align-items: center;
  gap: 3px;
}

.hour-icon {
  width: 2rem;
}

.hour-icon-small {
  width: 12px;
}

.hour-data {
  margin: 0;
  font-size: 0.7rem;
}

.arrow {
  margin: 0;
}
