.daily-forecast-card {
  min-height: 195px;
}

.daily-forecast-flex {
  display: flex;
  height: auto;
  flex-shrink: 0;
  overflow-x: auto;
  padding: 0 1px 0.5rem 0;
  margin: 0 0 0.5rem 0;
}

.daily-forecast-flex::-webkit-scrollbar{
  height: 8px;
  width: 4px;
  background: transparent;
  border-radius: 10px;
}

.daily-forecast-flex::-webkit-scrollbar-thumb:horizontal{
  background: var(--transparent-black);
  border-radius: 10px;
}

.no-windows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--mid-black);
}
