.daily-forecast-parent {
  display: flex;
  width: 90%;
  height: 110px;
  background-color: #f2f2f27b;
  overflow-x: auto;
  gap: 4px;
}

::-webkit-scrollbar{
  height: 8px;
  width: 4px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #4e4e4e;
  border-radius: 10px;
}
