:root {
  --black: #313638;
  --white: #FFFFFB;
  --tranparent-black: #3136381e;
  --mid-black: #3136387d;
  --tranparent-white: #fffffbb3;
}

.App {
  background: rgb(102,186,224);
  background: linear-gradient(180deg, rgba(102,186,224,1) 0%, rgba(251,226,130,1) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 1.5rem;
}

.forecast-days-parent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  width: 90%;
  max-width: 1200px;
  padding: 0 1rem;
  overflow-y: auto;
}

button {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid var(--mid-black);
  border-radius: 20px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  background-color: var(--white);
  font-size: 0.9rem;
}

button:hover {
  background-color: var(--mid-black);
  color: var(--white);
}

.forecast-days-parent::-webkit-scrollbar {
  width: 14px;
}

.forecast-days-parent::-webkit-scrollbar-track {
  background-color: var(--tranparent-black);
  border-radius: 10px;
}

.forecast-days-parent::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.moreInfo::-webkit-scrollbar-thumb:hover {
  background-color: #396416;
}
