.range-input-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.range-input-title {
  margin: 0;
  font-size: 0.8rem;
}

.dual-input {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--transparent-black);
}

.range-condition-input {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 4rem;
  border: none;
  font-size: 0.8rem;
  color: var(--text-dark);
  padding: 0.5rem 0.3rem;
  background-color: var(--transparent-white);
}

.range-condition-input:focus {
  outline: none;
}

.range-condition-input::-webkit-inner-spin-button, 
.range-condition-input::-webkit-outer-spin-button {
  opacity: 0.5;
  /* margin: -2px -2px -2px 0; */
}
